@import '../variables';

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .split-word {
    display: inline-block;
    opacity: 0;
    will-change: transform, opacity;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba(14, 14, 14, 0.7); // opcional para oscurecer el fondo
    background: linear-gradient(135deg, $dark-blue 0%, rgba($dark-blue, 0.8) 40%, rgba(0, 0, 0, 0.6) 70%, transparent 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    z-index: 1;
  }

  .container {
    max-width: 960px;
    text-align: center;
    color: white;
    z-index: 2;
  }

  .heading--xl {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
  }

  .hero__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .button {
      padding: 15px 24px;
      border: 2px solid $brand-primary;
      border-radius: $button-radius;
      text-decoration: none;
      color: $brand-primary;
      transition: $button-transition;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      background: transparent;
      font-size: 1rem;
      min-width: 200px;
      text-align: center;

      &--primary {
        background: transparent;
        border: 2px solid $brand-primary;
        color: $brand-primary;
        font-weight: 500;

        &:hover {
          transform: translateY(-1px);
          // box-shadow: 0 0 20px rgba($brand-secondary, 0.3);
          border-color: lighten($brand-primary, 5%);
          color: lighten($brand-primary, 5%);
        }
      }

      &:hover {
        transform: translateY(-1px);
        // box-shadow: 0 0 20px rgba($brand-primary, 0.3);
        border-color: lighten($brand-primary, 5%);
        color: lighten($brand-primary, 5%);
      }
    }

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }
}