@import '../variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
  padding: $spacing-md 0;
  transition: all 0.5s ease, backdrop-filter 0.5s ease;
  box-shadow: none;
  backdrop-filter: blur(0px);




  &--scrolled {
    transition: all 0.5s ease, backdrop-filter 0.5s ease;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.311) 0%, rgba(0, 0, 0, 0.091) 60%, transparent 100%);
    backdrop-filter: blur(15px);

  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: $text-primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }

  &__nav {
    display: flex;
    gap: $spacing-xl;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__link {
    color: $text-secondary;
    text-decoration: none;
    transition: $button-transition;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: $button-radius;
    background: transparent;
    font-weight: 400;
    font-size: 1.1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.06);
      border-radius: $button-radius;
      opacity: 0;
      transition: $button-transition;
      z-index: -1;
    }

    &:hover {
      color: $text-primary;
      transform: translateY(-1px);

      &::before {
        opacity: 1;
      }
    }

    &--active {
      color: $brand-primary;
      font-weight: 500;

      &::before {
        background: $brand-glow-light;
        opacity: 1;
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;
    border-radius: $button-radius;
    color: $text-primary;
    transition: $button-transition;
    position: relative;
    font-size: 1.1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.06);
      border-radius: $button-radius;
      opacity: 0;
      transition: $button-transition;
      z-index: -1;
    }

    &:hover {
      transform: translateY(-1px);

      &::before {
        opacity: 1;
      }
    }
  }
}